<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="ETechFlow_ImageOptimizer::config"
                                      title="ETechFlow Image Optimizer"
                                      sortOrder="60"/>
                        </resource>
                    </resource>
                    <resource id="Magento_Backend::stores_other_settings">
                        <resource id="ETechFlow_ImageOptimizer::diagnose"
                                  title="ETechFlow Page Speed Diagnose"
                                  sortOrder="55"/>
                        <resource id="ETechFlow_ImageOptimizer::log"
                                  title="ETechFlow Image Optimization Log"
                                  sortOrder="60">
                            <resource id="ETechFlow_ImageOptimizer::log_delete"
                                      title="Delete log entries"/>
                            <resource id="ETechFlow_ImageOptimizer::log_restore"
                                      title="Restore originals (delete WebP files)"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
