<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <etechflow_io>
            <license>
                <production_environment>1</production_environment>
            </license>
            <general>
                <enabled>1</enabled>
                <quality>80</quality>
                <engine_order>cwebp,imagick,gd</engine_order>
                <batch_size>200</batch_size>
            </general>
            <output>
                <picture_block>1</picture_block>
                <lazy_load>1</lazy_load>
            </output>
            <coverage>
                <product_cache>1</product_cache>
                <category>1</category>
                <cms>0</cms>
            </coverage>
            <psi>
                <default_strategy>mobile</default_strategy>
                <timeout_seconds>90</timeout_seconds>
            </psi>
        </etechflow_io>
    </default>
</config>
