<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--
        Wrap Magento\Catalog\Block\Product\Image::toHtml so we can swap
        the rendered <img> for a <picture> + WebP source. See the plugin
        class docblock for the full transformation.
    -->
    <type name="Magento\Catalog\Block\Product\Image">
        <plugin name="etechflow_io_picture_block"
                type="ETechFlow\ImageOptimizer\Plugin\Catalog\Block\PictureBlockPlugin"
                sortOrder="100"/>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="etechflow_io_optimize"
                      xsi:type="object">ETechFlow\ImageOptimizer\Console\Command\OptimizeCommand</item>
                <item name="etechflow_io_verify"
                      xsi:type="object">ETechFlow\ImageOptimizer\Console\Command\VerifyCommand</item>
            </argument>
        </arguments>
    </type>
</config>
