<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ETechFlow_ImageOptimizer::diagnose"
             title="Page Speed Diagnose"
             module="ETechFlow_ImageOptimizer"
             sortOrder="55"
             parent="Magento_Backend::system_other_settings"
             action="etechflow_io/diagnose/index"
             resource="ETechFlow_ImageOptimizer::diagnose"/>
        <add id="ETechFlow_ImageOptimizer::log"
             title="Image Optimization Log"
             module="ETechFlow_ImageOptimizer"
             sortOrder="60"
             parent="Magento_Backend::system_other_settings"
             action="etechflow_io/log/index"
             resource="ETechFlow_ImageOptimizer::log"/>
    </menu>
</config>
